body{
    background-color:rgba(3, 71, 18, 0.521);
}

.lowerBody{
    background:rgba(2, 54, 2, 0.6);
    /* position: relative; */
    /* bottom:20px; */
    /* border-bottom-width:12cm; */

}
#login1{
    /* float:left; */
    margin:50px;
    /* padding: 1em; */
}
#login2{
    /* float:left; */
    margin:50px;

}
#login3{
    /* float:right; */
    margin:50px;
}
/* @media all and (max-width:1001px){
   .lowerbody a:before{
      content:"("attr(data-login)")";
              }
}
@media all and (max-width:1001px)and(min-width:700px){
    .lowerbody a:after{
        content:"("attr(data-login)")";
               }
 }
 @media all and (max-width:699px)and(min-width:520px),(min-width:1002px){
    .lowerbody a:after{
        content:"("attr(data-login)")";
               }
 } */